.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .contenedor {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .contenedor {
    grid-template-columns: repeat(3, 1fr);
  }
}

.img-publicacion {
  max-width: 100%;
  max-height: 350px;
}
